<%-
require 'open3'
begin
    oodqueues = ['classroomgpu', 'cryogars', 'ondemand', 'ondemand-p100']
    maxcores = [14, 32, 4, 14]
    hasgpu = [true, true, false, true]
    # Command to Run
    script = '/cm/shared/apps/slurm/current/bin/sinfo -h --format="%P"'
    # Create a partitions array to dynamically populate the queues associated
    # with the user
    partitions = []
    pmaxcores = []
    phasgpu = []
    # Store the output, error, status
    output, status = Open3.capture2('bash', stdin_data: script)
    # puts status
    if status.success?
        # Add it to the custom_envs array by splitting the output at '\n'.
        output.split("\n").each do |queue|
            if oodqueues.include?(queue)
                qindex = oodqueues.index(queue)
                queue = queue.gsub("*", "")
                partitions.push(queue)
                pmaxcores.push(maxcores[qindex])
                phasgpu.push(hasgpu[qindex])
            end
        end
        puts partitions
        puts pmaxcores
        puts phasgpu
    else
        partition_error = "Error"
    end
rescue => e
    partition_error = e.message.strip
end
-%>
---
cluster: "borah"
form:
  - custom_queue
  - num_cores
  - enable_gpu
  - working_dir
  - version
  - bc_num_hours
attributes:
  version:
    widget: "select"
    label: "Codeserver Version"
    options:
      - ["4.19", "4.19.1"]
  bc_num_hours:
    value: 1
    min: 1
    max: 4
  working_dir:
    label: "Working Directory"
    data-filepicker: true
    data-target-file-type: dirs  # Valid values are: files, dirs, or both
    readonly: false
    help: "Select your project directory; defaults to $HOME"
  custom_queue:
    label: Partition
    widget: select
    help: |
    <%- if partitions.include?("classroomgpu")-%>
      - **classroomgpu** <br>
        These are HPC nodes with 2 [NVIDIA Tesla P100 GPUs], 28 cores, and
        251 GB of memory.
        By selecting the "classroomgpu" partition, you will be given up to 14
        cores and 1 GPU.
        [NVIDIA Tesla P100 GPUs]: http://www.nvidia.com/object/tesla-p100.html
    <%- end -%>
    <%- if partitions.include?("cryogars")-%>
      - **cryogars** <br>
        This node has 2 [NVIDIA A30 GPUs], 64 cores, and 1 TB of memory.
        By selecting the "cryogars" partition, you will be given up to 32 cores
        and 1 GPU.
        [NVIDIA A30 GPUs]: https://www.nvidia.com/a30
    <%- end -%>
      - **ondemand** <br>
        Standard Borah nodes have 48 cores and 186 GB of memory.
        By selecting the "ondemand" partition, you will be given up to 4 cores.
      - **ondemand-p100** <br>
        These are HPC nodes with 2 [NVIDIA Tesla P100 GPUs], 28 cores, and
        251 GB of memory.
        By selecting the "ondemand-p100" partition, you will be given up to 14
        cores and 1 GPU.
        [NVIDIA Tesla P100 GPUs]: http://www.nvidia.com/object/tesla-p100.html
    <%- if partition_error || partitions.blank?-%>
      <div class="text-danger">Error while fetching Partition. Please contact
      support!</div>
    <%- else -%>
    options:
    <%- partitions.zip(pmaxcores,phasgpu).each do |q, maxcore, gpu| -%>
        - [
            "<%= q %>", "<%= q %>",
            data-max-num-cores: <%= maxcore %>,
            <%- if !gpu -%>
            data-hide-enable-gpu: true,
            data-set-enable-gpu: 0
            <%- end -%>
          ]
    <%- end -%>
    <%- end -%>

  num_cores:
    widget: number_field
    label: "Number of cores"
    value: 1
    min: 1
    max: 1
  enable_gpu:
    widget: check_box
    label: "Enable GPU"
    help:
